name: Mirror to Gitee Repo

on: 
  watch:
    types: started

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Configure Private Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "StrictHostKeyChecking no" >> ~/.ssh/config
      - name: Push Mirror
        env:
          SOURCE_REPO: 'https://github.com/hbyhzx/script.git'
          DESTINATION_REPO: 'git@gitee.com:lxk0301/jd_scripts.git'
        run: |
          git clone --mirror "DESTINATION_REPO"         
